<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Reactive Form</h2>
      <form [formGroup]="signUp" (ngSubmit)="onSignUp()">
        <p>predefined validator</p>
        <div class="form-group">
          <label for="userName">User Name*</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            formControlName="userName"
          />
          <!-- the below is error for touched and has error this error will show when the user click the control and not enter any value in it -->
          <p
            *ngIf="f['userName'].touched && f['userName'].hasError('required')"
            class="text-danger"
          >
            user Name is required Field
          </p>

          <ng-container *ngIf="f['userName'].dirty">
            <!-- the below error is for the pattern error while user is typing in input control then this error will show  -->
            <p *ngIf="f['userName'].hasError('pattern')" class="text-danger">
              invalid pattern error (special char not allowed)
            </p>

            <!-- the is the error when the user enter the char below the set minimum length this lenght is set by ts file while creating the form , where the error massages are dynamicaly get from the error object of minlength error -->
            <p *ngIf="f['userName'].hasError('minlength')" class="text-danger">
              min length of user name should be
              {{f['userName'].errors?.['minlength'].requiredLength}} and actual
              length is {{f['userName'].errors?.['minlength'].actualLength}}
            </p>

            <!-- the is the error when the user enter the char above the set maximun length this lenght is set by ts file while creating the form , where the error massages are dynamicaly get from the error object of maxlenght error -->
            <p *ngIf="f['userName'].hasError('maxlength')" class="text-danger">
              max length of user name should be
              {{f['userName'].errors?.['maxlength'].requiredLength}} and actual
              length is {{f['userName'].errors?.['maxlength'].actualLength}}
            </p>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          />

          <p
            *ngIf="f['email'].touched && f['email'].hasError('required')"
            class="text-danger"
          >
            email is required Field
          </p>

          <p
            *ngIf="f['email'].dirty && f['email'].hasError('pattern')"
            class="text-danger"
          >
            invalid pattern error ({{ "abc@gmail.com" }})
          </p>
        </div>
        <!-- this is custome validator created by developer -->
        <p>custome validator</p>
        <div class="form-group">
          <label for="empId">Employee ID</label>
          <input
            type="text"
            id="empId"
            placeholder="E123"
            formControlName="empId"
            class="form-control"
          />
        </div>

        <ng-container *ngIf="f['empId'].dirty">
          <p class="text-danger" *ngIf="f['empId'].hasError('noSpaceBar')">
            {{f['empId'].errors?.['noSpaceBar']}}
          </p>

          <p class="text-danger" *ngIf="f['empId'].hasError('empIderror')">
            {{f['empId'].errors?.['empIderror']}}
          </p>
        </ng-container>

        <p
          class="text-danger"
          *ngIf="f['empId'].touched && f['empId'].hasError('required')"
        >
          emp Id is required field
        </p>

        <div class="form-group">
          <label for="panNumber">PAN Number</label>
          <input
            type="text"
            id="panNumber"
            formControlName="panNumber"
            class="form-control"
          />
        </div>

        <p
          class="text-danger"
          *ngIf="f['panNumber'].dirty && f['panNumber'].hasError('panError')"
        >
          {{f['panNumber'].errors?.['panError']}}
        </p>

        <p
          class="text-danger"
          *ngIf="f['panNumber'].touched && f['panNumber'].hasError('required')"
        >
          pan number is required field
        </p>

        <div class="form-group">
          <label for="aadharNumber">Aadhar Number</label>
          <input
            type="text"
            id="aadharNumber"
            placeholder="1234 4567 8912"
            formControlName="aadharNumber"
            class="form-control"
          />
        </div>

        <p
          class="text-danger"
          *ngIf="
            f['aadharNumber'].touched && f['aadharNumber'].hasError('required')
          "
        >
          aadhar number is required field
        </p>

        <p
          class="text-danger"
          *ngIf="
            f['aadharNumber'].dirty &&
            f['aadharNumber'].hasError('aadharNumberError')
          "
        >
          <!-- correct aadhar number -->
          {{ f['aadharNumber'].errors?.['aadharNumberError'] }}
        </p>

        <!-- <div class="form-group">
          
          <label for="female">
            <input
              type="radio"
              value="female"
              formControlName="gender"
              id="female"
              name="gender"
            />
            Female</label
          >

          <label for="male"
            ><input
              type="radio"
              value="male"
              formControlName="gender"
              id="male"
              name="gender"
            />
            Male</label
          >
        </div> -->

        <div class="form-group">
          <label class="mr-2" [for]="gender" *ngFor="let gender of genderArr">
            <input
              type="radio"
              formControlName="gender"
              [id]="gender"
              name="gender"
              [value]="gender"
            />{{ gender }}
          </label>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-sm btn-primary" type="submit">Sign Up</button>
        </div>
        {{ signUp.value | json }}
      </form>
    </div>
  </div>
</div>
